/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.phantom__toggle {
    display: inline-block;
    padding: 0.382em;
    cursor: pointer;
    font-size: smaller;
    text-transform: lowercase;
    border-radius: 0.382em;
    letter-spacing: 0.03em;
    margin-bottom: 0.382em;
}

.phantom__toggle--open {
    background: #000;
    color: #fff;
}

.phantom__toggle--closed {
    background: #000;
    color: #fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.phantom__utility--hidden {
    display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.phantom__checkbox {
    font-size: 1.618em;
}

.phantom__checkbox--checked {
    color: #f00;
}

.phantom__checkbox--unchecked {
    color: #000;    
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
