/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

dl {
    background: rgba(0, 0, 0, 0.15);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.phantom__toggle {
    display: inline-block;
    padding: 0.382em;
    cursor: pointer;
    font-size: smaller;
    text-transform: lowercase;
    border-radius: 0.382em;
    letter-spacing: 0.03em;
    margin-bottom: 0.382em;
}

.phantom__toggle--open {
    background: #000;
    color: #fff;
}

.phantom__toggle--closed {
    background: #ff2b1f;
    color: #fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.phantom__utility--hidden {
    display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
