.figCaption {
  display: block;
  text-align: center;
  /*font-size: 80%;*/

  .exampleFigure & {
    text-align: left;
  }
}

.docMeta {
  color: var(--spectrum-alias-text-color);
  text-align: right;
  display: flex;
  font-size: 16px;
  gap: 1em;
}

.mainTitle {
  text-align: left;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 30px;
  word-break: auto-phrase;
  width: 75%;
}

.activeSubresource {
  /* Note: keep consistent with focused footnote,
   * for as long as focused footnotes do not utilize the same mechanism. */
  outline-style: auto;
  outline-offset: 2px;
  background: var(--spectrum-accent-color-300);
  outline-color: var(--spectrum-alias-focus-color);

  background: var(--spectrum-accent-color-300);

  &::before {
    content: "→";
    font-weight: bold;
    width: 1em;
    margin-left: -1em;
    display: inline-block;
    color: var(--spectrum-alias-focus-ring-color);
  }
}

p.extraTitle {
  text-align: left;
  /* Since extra title is optional, bottom margin should be the same as main title.
   * !important because article p from layout can override this. */
  margin-bottom: 30px !important;
  word-break: auto-phrase;
  width: 75%;
}

article.bibitem {
  margin: 0 0 .5em 0;
}

.termXrefLabel {
  margin-right: 1em;
}

.xrefLabel {
  margin: 0 .75em 0 0;
  transform: translateX(-.5em);
  /*font-size: 80%;*/
  padding: .25em .5em;
  display: inline-block;
}

span.underlined {
  text-decoration: underline;
}

.admonition {
  padding: 0 .5em .5em .5em;
  margin: .5em 0;
  border: 1px solid var(--spectrum-alias-border-color);

  > header:first-child {
    font-weight: bold;
  }
  :not(:first-child) {
  }
}

.footnoteCue {
  vertical-align: super;
  line-height: 1;
  font-size: 80%;
}

.footnotes {
  font-size: 85%;

  &::before {
    content: " ";
    display: block;
    height: 1px;
    width: 6em;
    background-color: var(--spectrum-alias-text-color);
    margin-top: 1.5em;
    margin-bottom: .5em;
  }

  .footnote {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    &:focus-within {
      outline-style: auto;
      outline-offset: 2px;
      background: var(--spectrum-accent-color-300);
      outline-color: var(--spectrum-alias-focus-color);
    }

    .footnoteCue {
      flex-grow: 0;
      flex-shrink: 0;
      display: block;
      min-width: 2em;
      font-size: unset;
      vertical-align: unset;
      line-height: unset;

      &:link, &:visited, &:hover {
        text-decoration: none;
        color: unset;
      }
      &:focus {
        &::before {
          content: "→";
          font-weight: bold;
          width: 1em;
          margin-left: -1em;
          display: inline-block;
          color: var(--spectrum-alias-focus-ring-color);
        }
        background: var(--spectrum-accent-color-300);
      }
    }
    .footnoteBody {
      flex: 1;
    }
  }
}
