.figCaption {
  display: block;
  text-align: center;
}

.docMeta {
  font-style: italic;
  color: purple;
}

.termXrefLabel {
  margin-right: 1em;
}

.xrefLabel {
  margin: -.25em .75em .75em -.25em;
  font-size: 80%;
  padding: .25em .5em;
  background-color: var(--spectrum-alias-background-color-disabled);
  color: var(--spectrum-alias-text-color);
  display: inline-block;
  border-radius: .25em;
  font-weight: bold;
}

span.underlined {
  text-decoration: underline;
}

.admonition {
  padding: .5em;
  margin: .5em 0;
  border: 1px solid #888;
  border-radius: 5px;

  header:first-child {
    font-weight: bold;
  }
  :not(:first-child) {
  }
}

.footnoteCue {
  vertical-align: super;
  line-height: 1;
  font-size: 80%;
}

.footnotes {
  font-size: 85%;

  &::before {
    content: " ";
    display: block;
    height: 1px;
    width: 6em;
    background-color: var(--spectrum-alias-text-color);
    margin-top: 1.5em;
    margin-bottom: .5em;
  }

  .footnote {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    .footnoteCue {
      flex-grow: 0;
      flex-shrink: 0;
      display: block;
      min-width: 2em;
      font-size: unset;
      vertical-align: unset;
    }
    .footnoteBody {
      flex: 1;
    }
  }
}
