/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
    font-family: 'Gesta';
    src: local('Gesta'),
        url('./../fonts/bsigesta-light-webfont.eot') format('embedded-opentype'),
        url('./../fonts/bsigesta-light-webfont.woff') format('woff'),
        url('./../fonts/bsigesta-light-webfont.ttf') format('truetype'),
        url('./../fonts/bsigesta-light-webfont.svg#GestaLtRegular')
            format('svg');
    font-weight: var(--font-weight--light);
    font-style: normal;
}

@font-face {
    font-family: 'Gesta';
    src: local('Gesta'),
        url('./../fonts/bsigesta-webfont.eot') format('embedded-opentype'),
        url('./../fonts/bsigesta-webfont.woff') format('woff'),
        url('./../fonts/bsigesta-webfont.ttf') format('truetype'),
        url('./../fonts/bsigesta-webfont.svg#GestaRegular') format('svg');
    font-weight: var(--font-weight--regular);
    font-style: normal;
}

@font-face {
    font-family: 'Gesta';
    src: local('Gesta'),
        url('./../fonts/bsigesta-medium-webfont.eot')
            format('embedded-opentype'),
        url('./../fonts/bsigesta-medium-webfont.woff') format('woff'),
        url('./../fonts/bsigesta-medium-webfont.ttf') format('truetype'),
        url('./../fonts/bsigesta-medium-webfont.svg#GestaMdRegular')
            format('svg');
    font-weight: var(--font-weight--medium);
    font-style: normal;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
