/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
    font-family: 'Gesta';
    src: url('./../fonts/bsigesta-light-webfont.eot');
    src: url('./../fonts/bsigesta-light-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('./../fonts/bsigesta-light-webfont.woff') format('woff'),
        url('./../fonts/bsigesta-light-webfont.ttf') format('truetype'),
        url('./../fonts/bsigesta-light-webfont.svg#GestaLtRegular') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
    font-family: 'Gesta';
    src: url('./../fonts/bsigesta-webfont.eot');
    src: url('./../fonts/bsigesta-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('./../fonts/bsigesta-webfont.woff') format('woff'),
        url('./../fonts/bsigesta-webfont.ttf') format('truetype'),
        url('./../fonts/bsigesta-webfont.svg#GestaRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@font-face {
    font-family: 'Gesta';
    src: url('./../fonts/bsigesta-medium-webfont.eot');
    src: url('./../fonts/bsigesta-medium-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('./../fonts/bsigesta-medium-webfont.woff') format('woff'),
        url('./../fonts/bsigesta-medium-webfont.ttf') format('truetype'),
        url('./../fonts/bsigesta-medium-webfont.svg#GestaMdRegular')
            format('svg');
    font-weight: 500;
    font-style: normal;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
