/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(auto, 61.8%) 1fr;
    grid-template-areas:
        'layout__sidebar layout__header'
        'layout__sidebar layout__mainbar';
    overflow: hidden;
}

@media (min-width: 800px) {
    #layout.layout--sidebar-emancipated {
        grid-template-columns: minmax(auto, 38.2%) 1fr;
        grid-template-areas:
            'layout__header layout__header'
            'layout__sidebar layout__mainbar';
    }
    #layout.layout--sidebar-shackled {
        grid-template-columns: 1fr;
        grid-template-areas:
            'layout__header'
            'layout__mainbar';
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#layout__header {
    grid-area: layout__sidebar-start / layout__sidebar-start /
        layout__header-end / layout__header-end;
}

@media (min-width: 800px) {
    #layout__header {
        grid-area: layout__header;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#layout__mainbar {
    grid-area: layout__mainbar-start / layout__sidebar-start /
        layout__mainbar-end / layout__mainbar-end;
    overflow-y: scroll;
    padding: 1em;
}

@media (min-width: 800px) {
    #layout__mainbar {
        grid-area: layout__mainbar;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#layout__sidebar {
    grid-area: layout__sidebar;
    transform: translateX(-100%);
    transition: var(--transition-time) ease;
    z-index: 1;
    position: relative;
    overflow-y: scroll;
    padding: 1em;
}

@media (min-width: 800px) {
    #layout__sidebar.layout__sidebar--emancipated {
        transform: none;
        transition: none;
        z-index: initial;
        position: static;
    }
    #layout__sidebar.layout__sidebar--shackled {
        display: none;
    }
}

#layout__sidebar.layout__sidebar--open {
    transform: translateX(0%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.layout__sidebar {
    background-color: var(--colour__primary__white);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.layout__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--colour__primary__black);
    opacity: 0.5;
}

@media (min-width: 800px) {
    .layout__overlay {
        display: none;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
