/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.back-to-top {
    font-family: var(--font-family--primary);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    margin-top: 1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
