/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.banner {
    background: var(--colour__primary__black);
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
