/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.banner {
    font-family: var(--font-family);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    background: var(--colour__primary__black);
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
