/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.banner {
    font-family: var(--font-family--primary);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    background: var(--colour--black);
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.banner__item {
}

.banner__item + .banner__item {
    margin-left: 1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
