/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.button {
    font-family: var(--font-family--primary);
    font-weight: var(--font-weight--regular);
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    border: 0;
    padding: 1rem 2rem;
    margin: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color var(--transition-time) ease-in-out;
    text-transform: uppercase;
}

.button:focus,
.button:hover,
.button:active {
}

.button--primary {
    background-color: var(--colour--bsi-darker-red);
    color: var(--colour--white);
}

.button--primary:focus,
.button--primary:hover,
.button--primary:active {
    background-color: var(--colour--bsi-dark-red);
}

.button--secondary {
    background-color: var(--colour--bsi-teal--a11y);
    color: var(--colour--white);
}

.button--secondary:focus,
.button--secondary:hover,
.button--secondary:active {
    background-color: var(--colour--bsi-teal);
}

.button--tertiary {
    background-color: var(--colour--30-percent-black);
    color: var(--colour--black);
}

.button--tertiary:focus,
.button--tertiary:hover,
.button--tertiary:active {
    background-color: var(--colour--50-percent-black);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.button__text {
    font-size: 1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
