/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.button {
    font-family: var(--font-family);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    border: 0;
    padding: 0.618em;
    margin: 0;
    background-color: var(--colour__primary__bsi-darker-red);
    color: var(--colour__primary__white);
    border-radius: 0.1em;
    cursor: pointer;
    transition: background-color var(--transition-time) ease-in-out;
}

.button:focus,
.button:hover,
.button:active {
    background-color: var(--colour__secondary__bsi-dark-red);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.button__text {
    font-size: 1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
