/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger {
    font-family: var(--font-family--primary);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    border: 0;
    padding: 0;
    margin: 0;
    width: 2em;
    height: 2em;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-time) ease-in-out;
    border-radius: 50%;
    flex-shrink: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger--is-desktop {
    display: none;
}

@media (min-width: 800px) {
    .hamburger--is-desktop {
        display: flex;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger--is-mobile {
    display: flex;
}

@media (min-width: 800px) {
    .hamburger--is-mobile {
        display: none;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger--active {
    background-color: var(--colour--bsi-darker-red);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger--inactive {
    background-color: transparent;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger__stack {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger__stack--inactive {
    background-image: linear-gradient(
        to bottom,
        var(--colour--50-percent-black),
        var(--colour--50-percent-black) 20%,
        transparent 20%,
        transparent 40%,
        var(--colour--50-percent-black) 40%,
        var(--colour--50-percent-black) 60%,
        transparent 60%,
        transparent 80%,
        var(--colour--50-percent-black) 80%,
        var(--colour--50-percent-black) 100%
    );
}

.hamburger__stack--inactive:focus,
.hamburger__stack--inactive:hover,
.hamburger__stack--inactive:active {
    background-image: linear-gradient(
        to bottom,
        var(--colour--white),
        var(--colour--white) 20%,
        transparent 20%,
        transparent 40%,
        var(--colour--white) 40%,
        var(--colour--white) 60%,
        transparent 60%,
        transparent 80%,
        var(--colour--white) 80%,
        var(--colour--white) 100%
    );
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hamburger__stack--active {
    background-image: linear-gradient(
        to bottom,
        var(--colour--10-percent-black),
        var(--colour--10-percent-black) 20%,
        transparent 20%,
        transparent 40%,
        var(--colour--10-percent-black) 40%,
        var(--colour--10-percent-black) 60%,
        transparent 60%,
        transparent 80%,
        var(--colour--10-percent-black) 80%,
        var(--colour--10-percent-black) 100%
    );
}

.hamburger__stack--active:focus,
.hamburger__stack--active:hover,
.hamburger__stack--active:active {
    background-image: linear-gradient(
        to bottom,
        var(--colour--white),
        var(--colour--white) 20%,
        transparent 20%,
        transparent 40%,
        var(--colour--white) 40%,
        var(--colour--white) 60%,
        transparent 60%,
        transparent 80%,
        var(--colour--white) 80%,
        var(--colour--white) 100%
    );
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
