/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.logo {
    background-color: initial;
    color: initial;
    width: 19.1%;
    max-width: 4em;
    height: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
