/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.logo {
    background: aquamarine;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.logo__dot {
    color: red;
    font-style: normal;
    font-size: 1em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
