/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.logo {
    font-family: var(--font-family--primary);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    width: auto;
    height: 1.618em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
