/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal {
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal__modal {
    display: block;
    width: 61.8%;
    max-width: 100%;
    height: 61.8%;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: var(--colour__primary__black);
    opacity: 0.7;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal__guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1em 2em 1em 1em;
    background-color: var(--colour__primary__white);
    z-index: 11;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal__close {
    position: absolute;
    z-index: 22;
    top: 1em;
    right: 2em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
