#content {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 1em;
  line-height: inherit;
  font-family: anchorjs-icons;
  padding-right: 0.5em;
}
