/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.progress-bar {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size);
    background-color: var(--colour__primary__white);
    border: 0.5em solid var(--colour__tertiary__cultured);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.progress-bar--large {
    padding: 0.618em;
    flex-direction: column;
}

@media (min-width: 800px) {
    .progress-bar--large {
        padding: 1em;
        flex-direction: row;
        align-items: center;
    }
}

.progress-bar--little {
    padding: 0.618em;
    flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.progress-bar__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.progress-bar__wrap--large {
    margin-bottom: 0.618em;
}

@media (min-width: 800px) {
    .progress-bar__wrap--large {
        margin-bottom: 0;
        margin-right: 1em;
    }
}

.progress-bar__wrap--little {
    margin-bottom: 0.618em;
}

.progress-bar__progress {
    background-color: var(--colour__secondary__10-percent-black);
    width: 100%;
    height: 0.618em;
}

.progress-bar__progress__value {
    background-color: var(--colour__secondary__bsi-teal);
    height: 100%;
    width: 50%;
}

.progress-bar__output {
    white-space: nowrap;
    margin-left: 0.618em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
