.formula {
    background-color: #f7f7f7;
    padding: 1.5em;
    margin-top: 2em;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.formula > .dl {
    display: block;
    margin-top: 15px;
}

.formula > .dl > .dt, .formula > .dl > .dd, .formula > .dl > .dt > .stem, .formula > .dl > .dt > .stem > #react-mathjax-preview > .react-mathjax-preview-result, .formula > .dl > .dd > .p {
    display: inline;
}

#react-mathjax-preview > .react-mathjax-preview-result {
    display: inline;
}

.formula > .dl > .dt {
    width: 30%; 
    text-align: right;
    padding: 0;
}

.formula > .dl > .dd {
    width: 70%;
    text-align: left;
}

.td > .stem {
    display: inline;
}
