.example {
    display: inline;
    margin-left: 0.5em;
}

.example > .strong > .terminology {
    text-decoration: none;
    padding: 0;
}

.example {
    padding: 1em 1.2em 1.2em 1.2em;
    margin: 1em 0 1em 0;
    background-color: #fcad88;
    border-top: 10px solid #eb5a06;
    color: #290404;
}

.Admonition .example {
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}