.p > .stem, .p > .stem > .math {
    display: inline;
}

.mfrac {
    padding-left: 0.298em;
}

.mfrac > .mfrac-container {
    display: inline-block;
    position: relative;
    width: 1.182em;
    height: 0px;
    margin-right: 0.121em;
    margin-left: 0.121em;
}

.mfrac1 {
    position: absolute;
    clip: rect(3.541em, 1001.06em, 4.307em, -999.997em);
    top: -4.537em;
    left: 50%;
    margin-left: -0.528em;
}

.mfrac2 {
    position: absolute;
    clip: rect(3.541em, 1000.89em, 4.307em, -999.997em);
    top: -3.653em;
    left: 50%;
    margin-left: -0.469em;
}

.mfrac3 {
    position: absolute;
    clip: rect(0.828em, 1001.18em, 1.241em, -999.997em);
    top: -1.294em;
    left: 0em;
}

.msub {
    display: inline;
}

.msub > .m-container {
    display: inline-block;
    position: relative;
    width: 1.064em;
    height: 0px;
}

.m-row1 {
    position: absolute;
    clip: rect(3.541em, 1000.59em, 4.189em, -999.997em);
    top: -4.006em;
    left: 0em;
}

.m-row2 {
    position: absolute;
    top: -3.889em;
    left: 0.652em;
}

.mrow {
    display: inline;
    position: relative;
}

.mi-1 {
    font-size: 70.7%;
    font-family: MathJax_Math-italic;
}

.mi-2 {
    font-size: 50%;
    font-family: MathJax_Math-italic;
}

/* .mrow > .mi, .mrow > mn {
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: 0;
    line-height: normal;
    text-decoration: none;
    box-sizing: content-box;
}

.mi {
    font-style: italic;
    font-size: 1.5em;
}

.mrow > .mn {
    position: absolute;
    bottom: 0;
}

.mrow > .mo {
    position: absolute;
    bottom: 0;
}

.th > .stem {
    display: flex;
    justify-content: center;
}

.mi, .mn, .mo {
    display: inline;
} */