.figure {
  background-color: #f5faff;
  font-size: 1em;
  line-height: 1.6em;
  padding: 1.5em;
  margin: 2em 0 1em 0;
  overflow: auto;
  font-size: 1em;
  text-align: center;
}

.figure > .name {
  margin-top: 1em;
}