.note {
    background-color: var(--note-bg-color);
    color: var(--note-color);
    padding: 0.5em;
    margin: 1.5em 0 1.5em 0;
    text-align: left;
  }
  
  li > .note {
    margin-left: -1.4em !important;
  }

  .note > .p {
    margin-block-start: 0;
    margin-block-end: 0;
  } 
  
  .note > .data {
    color: inherit;
    text-decoration: none;
  }