.table  {
    display: table;
    width: 100%;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
    text-align: center;
    margin-top: 25px;
}

.table > .name {
    display: table-caption;
    text-align: center;
    font-size: inherit;
}


.table > .note {
    width: 200%;
    margin-left: 15px;
}
