.sourceTitle  {
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}

.example {
    background-color: #e1eef1;
    color: #424242;
    padding: 1.2em;
    margin: 2em 0 1em 0;
    padding-left: 2em;
}