.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p > .small {
    display: inline;
    padding: 15px 0;
    font-size: var(--defualt-size);
    font-family: inherit;
    word-spacing: inherit;
}

.p > .extended-small {
    display: block;
    padding: 15px 0;
    font-size: var(--defualt-size);
    font-family: inherit;
    word-spacing: inherit;
    background-color: var(--note-bg-color);
}