ol[type="A"] {
  counter-reset: alphabet_upper;
}

ol > li {
  list-style: none;
  position: relative;
  padding-left: 1.4em;
}

ol[type="A"] > li:before {
  counter-increment: alphabet_upper;
  content: counter(alphabet_upper, upper-alpha) ") ";
}

ol > li:before {
  position: absolute;
  left: 0em;
}

ol[type="1"] {
  counter-reset: arabic;
}

ol[type="1"] > li:before {
  counter-increment: arabic;
  content: counter(arabic, decimal) ") ";
}