.admonition {
    padding: 1em 1.2em 1.2em 1.2em;
    margin: 1em 0 1em 0;
    background-color: var(--adnomition-background);
    border-top: 10px solid var(--adnomition-color);
    color: #290404;
}

.admonition .admonitionTitle {
    font-weight: 700;
    font-size: 1em;
    text-align: center;
}