.title {
  font-size: 18px;
  font-weight: var(--title-font-weight);
  margin: 20px 0;
}

.title > .terminology  {
  text-decoration: none;
}

.title > .strong > .terminology {
  text-decoration: none;
}

.title > .strong:last-child {
  padding-left: 0.3em;
}

.title {
  font-size: var(--title1-size);
  font-weight: var(--title1-weight);
  text-transform: uppercase;
}

.content-section > div.content-section > .title {
  font-size: var(--title2-size);
  font-weight: var(--title2-weight);
  text-transform: none;
}

.content-section > .content-section > div.content-section > .title {
  font-size: 17px;
  font-weight: bold;
  text-transform: none;
}