.bibitem {
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
}

.bibitem > .td1 {
    width: 20%;
    text-align: left;
}

.bibitem > .td2 {
    text-align: left;
    width: 80%;
    padding: 0;
    margin: 0;
}

.bibitem > .td2 > a{
    display: inline-block;
    padding-left: 15px;
}


.italic {
    font-style: italic;
    padding-left: 15px;
}