.dd {
    display: inline-flex;
    width: 35%;
}

.dd > .dl {
    display: block;
}

.dd:last-child {
    display: inline-table;
}

.dd > .dd >.dd {
    width: 45%;
}

.dd > .dd > .dt {
    padding-right: 15%;
}

.dl > .dd {
    width: 50%;
}

.dl > .dt {
    width: 50%;
}