/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.stealth-title {
    font-family: var(--font-family--primary);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    color: var(--colour--white);
    transition: opacity var(--transition-time) ease-in-out;
    text-align: center;
    display: none;
    cursor: default;
}

@media (min-width: 800px) {
    .stealth-title {
        display: block;
    }
}

.stealth-title--cloak {
    opacity: 0;
}

.stealth-title--reveal {
    opacity: 1;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
