/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.stealth-title {
    color: var(--colour__primary__white);
    transition: opacity var(--transition-time) ease-out;
}

.stealth-title--cloak {
    opacity: 0;
}

.stealth-title--reveal {
    opacity: 1;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
