/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.x {
    font-family: var(--font-family--primary);
    font-weight: var(--font-weight--regular);
    font-size: var(--font-size);
    border: 0;
    padding: 0;
    margin: 0;
    width: 2em;
    height: 2em;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--colour--50-percent-black);
    display: none;
    transition: background-color var(--transition-time) ease-in-out;
}

.x:focus,
.x:hover,
.x:active {
    background-color: var(--colour--black);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.x--show-mobile {
    display: flex;
}

@media (min-width: 800px) {
    .x--show-mobile {
        display: none;
    }
    .x--show-desktop {
        display: flex;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.x__x {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x__x::before,
.x__x::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 10%;
    background-color: var(--colour--white);
}

.x__x::before {
    transform: rotate(45deg);
}

.x__x::after {
    transform: rotate(-45deg);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
