:global {
  body {
    margin: 0;
    padding: 0;
    padding-left: 68px;
    @media (prefers-color-scheme: light) {
      & {
        color-scheme: light;
        /* NOTE: Keep in sync with spectrum disabled background variable */
        background: rgb(230, 230, 230);
      }
    }
      @media (prefers-color-scheme: dark) {
      & {
        color-scheme: dark;
        /* NOTE: Keep in sync with spectrum disabled background variable */
        background: rgb(48, 48, 48);
      }
    }
  }
  #app {
    padding: 10px 10px 10px 0;
  }
  #resources > * {
    /* Fix to make resource border radius work despite Spectrum. */
    background: transparent;
  }
  #resources {
    padding-bottom: 40vh;
  }
}

/** Added dynamically in Resource component as a child of body. */
.floatingSubresourceLink {
  .floatingSubresourceLinkAnchor {
    display: none; /* Hide temporarily */
    position: relative;
    left: -1em;
    width: 1em;
    /**
     * TODO: These variables have no effect outside of Spectrum’s provider.
     * TODO: Move subresource links into resource instead of body, fix positioning. */
    color: var(--spectrum-alias-focus-color);
    font-weight: 500;
    text-decoration: none;

    border-radius: 5px;
    padding: .25em;
    background: var(--spectrum-alias-highlight-selected-hover);
  }
}

.lastVisibleResourceMarkerIntersection {
  position: relative;
  top: -100px;
  z-index: 22;

  float: right;
  width: 12px;
}

.resourceLoadingOrMissingPlaceholder {
  color: var(--spectrum-alias-text-color);
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  gap: 1em;

  transition: margin-left .5s ease-in-out;
  &.withNav {
    margin-left: 330px !important;
  }

  a {
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  padding: 0 2em 2em;
  margin-right: 10px;
  margin-bottom: 10px;
}

.resource {

  padding: 0 2em 2em;

  font-size: 16px;
  font-weight: 330;

  overflow-x: auto;

  /** Avoids scrollbar jank in Orion */
  margin-right: 10px;
  margin-bottom: 10px;

  /* position: relative; */

  border-radius: 5px;
  box-shadow: 0 var(--spectrum-alias-dropshadow-offset-y) var(--spectrum-alias-dropshadow-blur) var(--spectrum-alias-dropshadow-color);

  background-color: var(--spectrum-alias-background-color-default);
  color: var(--spectrum-alias-text-color);

  transition: margin-left .5s ease-in-out;
  &.withNav {
    margin-left: 330px !important;
  }
  &.active {
    outline-style: auto;
    outline-width: thin;
    outline-style: solid;
    outline-color: var(--spectrum-alias-focus-color);
  }

  a {
    &:link, &:visited {
      color: var(--spectrum-accent-color-1000);
    }
    &:hover {
      color: var(--spectrum-accent-color-1000);
    }
    &:active {
      color: var(--spectrum-alias-text-color-down);
    }
    &:focus-visible {
      color: var(--spectrum-alias-text-color-key-focus);
    }
    &.is-disabled {
      color: var(--spectrum-alias-text-color-disabled);
    }
  }

  .resourceBreadcrumbsNav {
    margin: 0.5em 0;
    list-style: none;
    padding: 0;
    color: var(--spectrum-alias-text-color-disabled);
    > li {
      display: inline-block;
      > a {
        &:link, &:visited {
          color: var(--spectrum-alias-text-color-disabled);
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &:first-child {
        font-weight: 400;
      }
      &::after {
        margin: 0 0.5em;
        content: "⏵"
      }
    }
  }
}

/* Override for ListView in navigation, by default it’s too bright(?). */
.navListView {
  background: var(--spectrum-alias-background-color-default);
  border: none;
  border-radius: 0;
}

.browserBar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 58px;

  display: flex;
  flex-flow: column nowrap;

  /* loading janks things up for now. transition: background-color .5s linear; */

  background-color: var(--spectrum-alias-background-color-disabled);
  color: var(--spectrum-alias-text-color);

  z-index: 22;

  .browserBarTitle {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h1 {
      /* By default we achieve vertical rendition of LTR TB scripts
       * by rotating the text, ensuring that typeface bottom
       * faces the main reading area. */

      /* TODO: This transform can maybe be simplified */
      transform: translateX(50%) rotate(-90deg) translateY(-25%) translateX(-100%) translateX(-20px);

      color: var(--spectrum-alias-border-color);
      font-size: 20px;
      line-height: 1;
      margin: 0;
      padding: 0;
      transform-origin: top left;

      width: 80vh; 
      height: 30px;

      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;

      /* For fonts with native vertical support, unset the fancy transforms
       * and just set writing-mode.
      html[lang="ja"] & {
        transform: unset;
        width: unset;
        height: unset;
        text-align: unset;
        writing-mode: vertical-rl;
        margin-top: 20px;
        abbr {
          text-orientation: upright;
          text-transform: full-width;
        }
      } */
    }
  }

  .browserBarToolbar[data-orientation=vertical] {
    flex-direction: column;
    display: flex;

    .browserBarToolbarGroup {
      display: flex;
      flex-flow: column nowrap;
      padding: 10px;
      gap: 5px;
    }
  }

  .progressWrapper {
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .progressIdle {
      transition: transform .5s ease-in-out;
      transform: scale(0.8);
      transform-origin: center;
    }
  }
}

.nav {
  width: 330px;
  position: fixed;
  left: 58px;
  top: 0;
  bottom: 0;

  box-sizing: border-box;

  z-index: 2;

  --spectrum-global-dimension-size-200: .5em;

  background-color: var(--spectrum-alias-background-color-default);
  color: var(--spectrum-alias-text-color);

  overflow-y: auto;

  > .navStickyHeader {
    padding: var(--spectrum-global-dimension-size-160);
    box-sizing: border-box;
  }

  /*
  .navContent {
    overflow: hidden;
  }
  */
}
